@charset "UTF-8";

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
header{
    height:250px;
    background-color: aquamarine;
}
body{
    margin-left: 350px;
    margin-right: 350px;
}
.logo{
    color: purple;
    font-family: 'LOTTERIACHAB';
    font-size: 60pt;
    text-align: center;
    line-height: 0;
}
.category{
    height: 30px;
    background-color: beige;
    font-family: 'SUITE-Regular';
    font-size: 20pt;
    text-align: center;
}
form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    height: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    float: center;
    border : 1px solid;
    background-color : white;
}
